*{
    margin: 0;
    padding: 0;
}
.clearfix{
    margin-left: 30%;
    clear: both;
    overflow: hidden;
}
#main ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#main ul li{
    float: left;
    margin-right: 5px;
}
#main ul li a{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 8px 20px;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-decoration: none;
    background-color: #d2d3d5;
    color: #000;
}
.selected{
    border-bottom: solid 1px #fff;
    background: #782a90 !important;
    color: #fff !important;
}
#content{
    border: 1px solid #ccc;
    width: 500px;
    height: 300px;
    margin-top: -1px;
    padding: 5px 10px;
}