<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuyển ảnh khi dùng jQ</title>

    <link rel="stylesheet" href="../css/vd3.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" 
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script>
        $(document).ready(function(){
            $("a>img").click(function(){
                img = $(this).attr('src');
                $("#image > img").attr({
                    'src': img
                });
                $("a>img").removeClass('actived');
                $(this).addClass('actived');
            });
        });
    </script>

</head>
<body>
    <div id="main">
        <div id="image">
            <img src="../imgs/tn6-cay.jpg" alt="">
        </div>
        <div id="thum">
            <ul>
                <li><a href="javascript:void(0) ">
                    <img src="../imgs/tn6-cay.jpg" alt="" class="actived">
                </a></li>
                <li><a href="javascript:void(0) ">
                    <img src="../imgs/tn5-dao.jpg" alt="">
                </a></li>
                <li><a href="javascript:void(0) ">
                    <img src="../imgs/tn4-oi.jpg" alt="">
                </a></li>
                <li><a href="javascript:void(0) ">
                    <img src="../imgs/tn3-nang.jpg" alt="">
                </a></li>
                <li><a href="javascript:void(0) ">
                    <img src="../imgs/tn2-xanh.jpg" alt="">
                </a></li>
                <li><a href="javascript:void(0) ">
                    <img src="../imgs/tn1-dem.jpg" alt="">
                </a></li>
            </ul>
        </div>
    </div>
</body>
</html>